@import url(
	http://fonts.googleapis.com/css?family=Droid+Sans:400,700
	);

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'icomoon2';
	src:url('icons/fonts/icomoon.eot');
	src:url('icons/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('icons/fonts/icomoon.woff') format('woff'),
		url('icons/fonts/icomoon.ttf') format('truetype'),
		url('icons/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'icomoon3';
	src:url('masiconos/fonts/icomoon.eot');
	src:url('masiconos/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('masiconos/fonts/icomoon.ttf') format('truetype'),
		url('masiconos/fonts/icomoon.woff') format('woff'),
		url('masiconos/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

a
{
	color: #2edd71;
	text-decoration: none;
}
body
{
	font-family: sans-serif;
}
header
{
	background-color:#2ecc71;
	margin-bottom: 6px;
	box-shadow:  0 6px 0  #27ae60;
	height: 130px;
}
form #email
{
	display: none;
}
header ul li,
header nav
{
	display: inline-block;
}
header ul li,
header ul a
{
	text-decoration: none;
	color: #fff;
	font-size: 25px;
}
header ul li
{
	padding: 3px 4%;
}
header nav
{
	text-decoration: none;
	color: #ccc;
	font-size: 20px;
	margin: 2.2em 0 0 0;
}
form input,
form textarea
{
	padding: 13px;
	display: block;
	border: none;
	border-radius: 3px;
	background-color: #fff;
	margin: 0.8em auto 0 auto;
	font-size: 25px;
	text-align: center;
	width: 12em;
}
#form_container
{
	background-color:#2ecc71;
	margin:1em 0 6px 0;
	box-shadow:  0 6px 0  #27ae60;
	padding-bottom:  6px;
}
header input
{
	padding: 10px;
	float: right;
	border: none;
	border-radius: 3px;
	background-color: #fff;
	margin: 43px 40px 43px 3px;
	font-size: 25px;
}


#titulo
{
	text-align: center;
	display: inline-block;
	width: 100%;
	margin: 1em 0 0 0;
	color: #fff;
	font-weight: normal;
	font-size: 30px;
}
form textarea
{
	width: 100% !important;
	height: 9em;
	margin-right: 0 !important;
	margin-left:  0 !important;
	padding: 20px 0 13px 0;
}


#navegacion
{
	width: 80%;
	display: inline-block !important;
	float: right;
}
header figure
{
	width: 15%;
	display: inline-block;
	margin: 10px 0;
	float: left;
}
header figure img
{
	width: 100%;
	margin: 20px 0;
}

#slideshow_and_signup
{
	overflow: hidden;
	width: 100%;
}
#slideshow_container
{
	background-color: #2ecc71;
	box-shadow:  0 6px 0  #27ae60;
	display: inline-block;

	margin: 0.5em 0;
	width: 69%;
	float: left;
}
#registro
{
	background-color: #2ecc71;
	box-shadow:  0 6px 0  #27ae60;
	display: inline-block;
	float: right;
	height: 414px;
	margin: 0.5em 0;
	vertical-align: top;
	width: 30%;
	position: relative;
}
#registro input,
#registro button
{
	background-color: #fff;
	border-radius: 3px;
	border: none;
	display: block;
	font-size: 25px;
	margin:  0.2em auto;
	padding: 10px 3%;
	width: 88%;
}
#registro input:first-child
{
	margin-top: 3%;
}
#registro button
{
	background-color: #2edd71;
	box-shadow:  0 6px 0  #27ae60;
	color:#fff;
	position: absolute;
	bottom: 3%;
	left: 6%;
}
  
#registro button:active
{
  bottom: 2%;
  border-width: 0;
  outline: none;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3), inset 0 2px 1px rgba(0, 0, 0, 0.4), 0 2px #2ecc71;
}
input:focus,
form textarea:focus
{
	outline: none;
	box-shadow:  inset 0 -2px 0  #2ebb71;
}

button:focus
{
	outline:2px solid #2ebb71;
}
header nav ul li a:focus
{
	outline: none;
	box-shadow:  0 2px 0  #27ae60;
}
.item 
{
	background:#2edd71;
	/*El borde ( Sólo para abajo )*/
	box-shadow:  0 6px 0  #27ae60;
	/*El margen ( Sólo para abajo )*/
	margin-bottom:1em;
	/*El alto mínimo*/
	min-height:200px;
	padding: 1em;
}


/*Haciendo una caja tras el enlace a los comentarios*/
.datos_item .comentarios_item
{
	background:#27ae60;
	border-radius:2px; 
	color:white;
	margin:0 0 0 1em;
	padding:4px;
	position:relative;
	top: 4px;
	/*Eliminando toda decoración del texto*/
	text-decoration:none;
}
#text_area
{
	position: static;
}
.item h2
{
	font-size: 1.8em;
}

/*Y agregando un triángulo abajo*/
.item .datos_item .comentarios_item:after
{
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #27ae60;
	content:"";
	left:18px;
	position:absolute;
	top:100%;
}
.item_imagen .datos_item .comentarios_item:after{
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #27ae60;
	content:"";
	left:18px;
	position:absolute;
	top:97%;
}
/*Características de las etiquetas*/
.datos_item .tag_item 
{
	background:#27ae60;

	color:white;
	float:left;
	font-size: 16px;
	margin:0 0.2em;
	padding:0.2em 0.5em;
	text-decoration:none;
}

/*El contenedor de la imagen del item*/
.imagen_item 
{
	float:left;
	margin:0 1em 0 0;
	width: 200px;
	height: 200px;
}


/*El enlace al artículo*/
.titulo_item a 
{
	color:#fff;
	text-decoration:none;
}
.titulo_item
{

	font-weight: normal;

}
#text_area
{
	position: relative;
}
#name:before
{
	font-family: "icomoon2";
	content: " \e601"
}
#name
{
	z-index: 9999;
}
#img_up
{
	width: 25px;
	height: 25px;

	position: absolute;
	top: 1px;
	right: 25px;
}
#draw
{
	width: 25px;
	height: 25px;

	position: absolute;
	top: 4px;
	right: 55px;
}
#img_up:after
{
	font-family: "icomoon2";
	content: " \e600";	
	font-size:25px;
	color: #ccc;
}

#draw:after
{
	font-family: "icomoon3";
	content: " \e618";	
	font-size:20px;
	color: #ccc;
}
.img_input_hidden
{
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}
.md-trigger
{
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}
.imagen_item 
{
	float:left;
	margin:0 1em 0 0;
}

/*La imagen del item*/
.imagen_item img 
{
	margin:0;
	width:200px;
}

.item_imagen
{
	text-shadow:none;
}

/*El título del itemito*/
.item_imagen .titulo_item_imagen 
{
	font-size:1.5em;
	padding:0 0.5em ;
}

/*Los links del itemito*/
.item_imagen .titulo_item_imagen a 
{
	color:#fff;
	text-decoration:none;
	font-weight: normal;
	
}
.item_imagen .tag_item
{
	position: relative;
}

.item_imagen .tag_item:after
{
	font-family: 'icomoon';
	content: " \e601";
	position: relative;
	top:0.1em;
}
#navegacion nav
{
	width: 60%;
}
#navegacion input
{
	width: 20%;
}
.item:first-child
{
	margin-top: 0.5em;
}
.wPaint-menu-icon-name-undo:after
{
	font-family: "icomoon3";
	content: " \e602";	
	font-size:16px;
	color: #fff;
	position: absolute;
	top: 15px;
	color: 
	left: 6px;
	font-weight: bold;
}
.wPaint-menu-icon-name-redo:after
{
	font-family: "icomoon3";
	content: " \e603";	
	font-size:16px;
	color: #fff;
	position: absolute;
	top: 15px;
	left: 6px;
	font-weight: bold;
}
.wPaint-menu-icon-name-clear:after
{
	font-family: "icomoon3";
	content: " \e628";	
	font-size:25px;
	color: #fff;
	position: absolute;
	top: 15px;
	left: 2px;
}
.wPaint-menu-icon-name-rectangle:after
{
	font-family: "icomoon3";
	content: " \e625";	
	font-size:18px;
	color: #fff;
	position: absolute;
	top: 12px;
	left: 5px;
	font-weight: bold;
}
#wPaint
{
	background-color: #fff !important
}

#image-list {
	list-style:none;
	margin:0;
	padding:0;
}
#image-list img {
	width: 100%;
}
